body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
   
    
}


.pais {
    height: 778px;
    padding: 32px 76px 142px;
    background-image: url("pildid/Hills.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: -201.7600860595703px;
left: -20px;


}

.pais > nav {
    display: flex;
    justify-content: space-between;
}

.pais > nav > .vasak {
    display: flex;
}

.pais > nav > .vasak > img {
    height: 82px;
}

.pais > nav > .vasak > div {
    font-size: 33px;
    font-weight: 800;
    text-transform: uppercase;

}

.pais >nav > .parem {
    display: flex;
    gap: 20px;
    align-items: center;
    text-transform: uppercase;
}

.pais > nav > .parem > a {
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    letter-spacing: 2.87px;
}
.pais > nav > .parem > div {
    display: flex;
    gap: 20px;
    align-items: center;
    text-decoration: none;
}

 .pais > .pealkirjad > .naine {
    position: absolute;
    top: -231px;
    right: -330px;
    width: 914px;
    height: 914px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    z-index: -1;
}
    

.veebileht{
    overflow-x: hidden;
}

.naine > img {
    /*display: flex;
    justify-content: right;*/
   /*justify-content: right;*/
    /*padding: 71px 0px 1px;*/
    
    /*border: 5px;*/
   
    /*overflow-x: clip;  */

   
    /*border: 100px;*/
   
}


.pealkirjad > h1  {

padding-top: 338px;

width: 409px;
height: 48px;
font-size: 23px;
font-weight: 800;
text-align: left;
color: #0B0B0B;
}

.tekst > h2 {
width: 575px;
height: 91px;
font-size: 33px;
font-weight: 800;
text-align: left;
color: #0B0B0B;
margin-top: -40px;

}

.pealkirjad > h4 {
width: 477px;
height: 93px;
text-align: left;
color: #0B0B0B;
margin-top: -15px;

}
.pais > .pealkirjad > button {
    font-size: 12.5px;
    line-height: 29.17px;
    letter-spacing: 2.25px;
    color: #FFFF;
    background-color: #0B0B0B;
    border: none;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
    padding: 13px 22.5px 10px;

}

/*.liblikas1{
    display: flex;
}*/